src/dtd/client.dtd

<!ELEMENT tsunagari (client)>
<!ATTLIST tsunagari version (1) #REQUIRED>

<!ELEMENT client ((window, world) | (world, window))>
<!ATTLIST client version (1) #REQUIRED>

<!ELEMENT world (#PCDATA)>

<!ELEMENT window EMPTY>
<!ATTLIST window x          CDATA #REQUIRED
                 y          CDATA #REQUIRED
                 fullscreen CDATA #REQUIRED>

