src/dtd/world.dtd

<!ELEMENT world (name, author, player, type, entrypoint, scripts*)>
<!ATTLIST world version (1) #REQUIRED>

<!ELEMENT name (#PCDATA)>

<!ELEMENT author (#PCDATA)>

<!ELEMENT player (#PCDATA)>

<!ELEMENT type EMPTY>
<!ATTLIST type locality (local | network) #REQUIRED
               movement (turn | tile | notile) #REQUIRED>

<!ELEMENT entrypoint EMPTY>
<!ATTLIST entrypoint area CDATA #REQUIRED
                     x    CDATA #REQUIRED
                     y    CDATA #REQUIRED
                     z    CDATA #REQUIRED>

<!ELEMENT scripts (script+)>

<!ELEMENT script (#PCDATA)>

