src/dtd/world.dtd

<!ELEMENT tsunagari (world)>
<!ATTLIST tsunagari version (1) #REQUIRED>

<!ELEMENT world (name, author, type, player, entrypoint, eventscripts*)>
<!ATTLIST world version (1) #REQUIRED>

<!ELEMENT name (#PCDATA)>

<!ELEMENT author (#PCDATA)>

<!ELEMENT type EMPTY>
<!ATTLIST type locality (local | network) #REQUIRED
               movement (turn | tile | notile) #REQUIRED>

<!ELEMENT player EMPTY>
<!ATTLIST player sprite CDATA #REQUIRED>

<!ELEMENT entrypoint EMPTY>
<!ATTLIST entrypoint area CDATA #REQUIRED
                     x    CDATA #REQUIRED
                     y    CDATA #REQUIRED
                     z    CDATA #REQUIRED>

<!ELEMENT eventscripts (script+)>

<!ELEMENT script (#PCDATA)>

